/* fontes*/
@font-face {
  font-family:'blackJack';
  src: url('/Font/blackJack.ttf');
}
@font-face {
  font-family:'ProximaNova';
  src: url('/Font/ProximaNova.otf');
}

/* Geral */
body, html {
  height: 100%;
  margin: 0%;
}

/* header */
/* header fundo */
.bgimg-1 {
  background-size: cover;
  background-image: url("Img/header_bg.jpg");
  height: 100%;
}
/* header modal */
.modal-nav{
  background-color:rgba(229, 127, 133, 0.9);
  width: 100%;
  height: 100%;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  position: fixed;
}
.modal-nav .nav{
  margin-top:1%;
  margin-right: 13%;
  float: right;
  color:white;
  font-size:20px;
}
.div-nav{
  width: 15%;
  right: 70%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}
.iten-nav{
  float: left;
  width: 100%;
  right: 100%;
  margin-bottom:10%;
}
.circulo{
  width: 51px;
  height: 51px;
  background-color: #ffffff;
  border-radius: 31.9px;
  float: left;
}
.circulo img{
  width: 17px;
  height: 13px;
  margin-left: 33%;
  margin-top: 37%;
}
.div-nav p{
 float: left;
 font-family: ProximaNova;
 font-size: 18px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.39;
 letter-spacing: normal;
 color: #ffffff;
 margin-top: 8%;
 margin-left:3%;
}
/* header logo */
.logo{
  font-family: 'Kaushan Script', cursive;
  font-size:40px;
  padding: 0%;
  width: 100px;
  height: 100px;
  background-color: white;
  box-shadow: 10px 10px #27b1e6;
  margin-left: 12%;
  float:left;
}
.logo p{
  margin: 0%;
  font-size: 50px;
  color: #0da9e5;
  text-align: center;
}

.nav{
  margin-top:36px;
  margin-right: 13%;
  width:30px;
  height:25px;
  float: right;
}
/* header iphone5*/
.iphone5{
  width: 228px;
  height: 482px;
  margin-left: 231px;
  padding-top: 30%;
}
.device {
  border-radius: 31.9px;
  background-color: #474e5d;
  padding-top: 7%;
}
.overlay {
  width: 200px;
  height: 350px;
  background-color: #f3787a;
  margin-left:15px;
  margin-top:11%;
}
.speaker {
  width: 43px;
  height: 10px;
  background-color: #a5a4a4;
  border-radius: 31.9px;
  margin-left:40.4%;
  margin-top:4%;
}
.camera {
  width: 9px;
  height: 9px;
  background-color: #a5a4a4;
  border-radius: 31.9px;
  margin-left:47.8%;
}
/* header texto*/
.bgimg-1 .conteudo{
  width:55%;
  height: 55%;
  float: left;
  margin-left:33%;
  margin-top:0%;
  padding-top:0%;
}
.bgimg-1  .titulo{
  font-family: 'blackJack';
  font-size: 60px;
  color: #ffffff;
  text-align: right;
}
.bgimg-1 .pri-txt{
  font-family: ProximaNova;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.71;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
/* header btn*/
.btn-download {
  width: 169px;
  height: 53px;
  margin-top: 3%;
  float: right;
  color:#ffffff;
  border-radius: 2px;
  border:solid  2px #ffffff;
  font-family: ProximaNova;
}

.btn-download p {
  padding-left: 15%;
  padding-top: 3%;
  font-size: 14px;
  float: left;
}
.btn-download img{
  padding-left: 13%;
  padding-top: 12%;
}

/* about */
.about{
  width: 100%;
  height: 651px;
  background-color: #f4f4f4;
  overflow-x: hidden; 
}
/* about - ipad */
.ipad{
  float: left;
  margin-top: 10%;
  margin-left: 74.5%;
  z-index:1;
  position: absolute;
}
.device-ipad {
  width: 342px;
  height: 560px;
  border-radius: 18.4px 0px 0px 18.4px;
  background-color: #474e5d;
  padding-top:7%;
}
.overlay-ipad {
  width: 325px;
  height: 475px;
  background-color: #fee9a3;
  margin-top:7%;
  margin-left: 5%;
}
.camera-ipad{
  width: 8px;
  height: 7px;
  background-color: #a5a5a5;
  border-radius: 31.9px;
  margin-left:55%;
}
/* about txt */
.about .conteudo{
  width: 45%;
  height: 65%;
  float: left;
  margin-left:13%;
  margin-top:5%;
}
.about .titulo{
  font-family: ProximaNova;
  font-size: 40px;
  text-align: left;
  color: #545454
}
.about .seg-txt{
  font-family: ProximaNova;
  font-size: 16px;
  text-align: left;
  color: #7e7e7e;
  padding-left:3%;
  border-left: solid 5px #4eacdd;
}
.about .div-seg-txt{
  margin-top: 5%;
}
.about .pri-txt{
  font-family: ProximaNova;
  color: #7e7e7e;
}
/* about btn */
.btn {
  width: 220px;
  height: 53px;
  margin-top: 10%;
  color: #14af8f;
  border-radius: 2px;
  border:solid  2px #14af8f;
  font-family: ProximaNova;
}

.btn p {
  padding-left: 8%;
  padding-top: 3%;
  font-size: 14px;
  float: left;
}
.btn img{
  padding-left: 9%;
  padding-top: 9%;
}
/* portifolio*/
.portfolio{
  width: 100%;
  height: 650px;
  background-color: #ffffff;
  z-index:3;
  position: absolute;
}
.apple{
  margin-top: 36%; 
  z-index:1;
  position: absolute;
}
.conteudo{
  width: 35%;
  height: 65%;
  float: right;
  margin-right:13%;
  margin-top:5%;
}
.titulo{
  font-family: ProximaNova;
  font-size: 40px;
  text-align: left;
  color: #545454
}
.seg-txt{
  font-family: ProximaNova;
  font-size: 16px;
  text-align: left;
  color: #7e7e7e;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.4px;
}
.div-seg-txt{
  margin-top: 10%;
}
.pri-txt{
  font-family: ProximaNova;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.4px;
  font-weight: 600;
  color: #474e5d;
}
/* portifolio btn*/
.btn-por {
  width: 220px;
  height: 53px;
  margin-top: 10%;
  color: #ea4c89;
  border-radius: 2px;
  border:solid  2px #ea4c89;
  font-family: ProximaNova;
}

.btn-por p {
  padding-left: 8%;
  padding-top: 3%;
  font-size: 14px;
  float: left;
}
.btn-por img{
  padding-left: 9%;
  padding-top: 9%;
}
/* donate*/
.bgimg-2 {
  background-size: cover;
  background-image: url("Img/bgimg-2.png");
  width: 100%;
  height: 323px;
  z-index:10;  
  position: absolute;
  margin-top:63%;
}
/* donate btn*/
.btn-beer {
  width: 169px;
  height: 53px;
  margin-left: 41.7%;
  margin-top: 5%;
  color:#ffffff;
  border-radius: 2px;
  border:solid  2px #ffffff;
  font-family: ProximaNova;
}

.btn-beer p {
  padding-left: 8%;
  padding-top: 3%;
  font-size: 14px;
  float: left;
}
.btn-beer img{
  padding-left: 9%;
  padding-top: 12%;
}
.texto{
  margin-left: 35.9%;
  margin-top: 5%;
  color:#ffffff;
  font-family: ProximaNova;
  font-size:40px;
}
/*contato*/
.contato{
  width: 100%;
  height: 600px;
  background-color: #f4f4f4;
  z-index:10;  
  position: absolute;
  margin-top:87%;
}
.img-contato{
  margin-top:15%;
  margin-left:37%;
 }
 .contato img{
  margin-right: 3%;
 }
/*contato input*/
.email{
  width: 200px;
  height: 43px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 50%;
}
.Newsletter {
  width: 400px;
  height: 43px;
  margin-top: 3%;
  margin-left: 35%;
  color: #545454;
}
.Newsletter p{
  float: left;
  margin-top: 2.5%;
  font-family: ProximaNova;
}
.email p {
  width: 130px;
  height: 13px;
  border-right:solid 1px #d3d3d3;
  font-family: ProximaNova;
  font-size: 11px;
  text-align: left;
  margin-top:4%;
  padding-top:4%;
  padding-bottom:2%;
  padding-left:8%; 
  color: #d3d3d3;
  float: left;
  margin-right: 2%;
}
.Newsletter img{
  margin-top: 7%;
  margin-left: 5%;
}
/*footer*/
.footer{
  width: 100%;
  height: 100px;
  background-color: white;
  z-index:10;  
  position: absolute;
  margin-top:18%;

}
.footer b{
  width: 288px;
  height: 40px;
  font-family: ProximaNova;
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 0.3px;
  text-align: left;
  color: #545454;
}
.footer p{
  font-family: ProximaNova;
  color: #6dc5ea;
  margin-top: 3%;
  margin-left: 38.8%;
  float: left;
}
.footer img{
  margin-top: 2%;
  margin-right: 4%;
  float: right;
}